.contact-form{
    margin-top: 40px;
    margin-bottom: 20px;
}
.contact-form-headline{
    font-size: 30px;
    margin-top: 40px;
}
.btn-submit{
    background-color: white !important;
    color: #495057 !important;
    border: 1px solid #ced4da !important;
}
.fa-envelope{
    font-size: 16px;
    color: #495057;
    border: none;
}
.contact-form-email{
    margin-top: 30px;
    font-size: 16px;
}
.error{
    color:red;
    background-color: yellow;
    font-size: 13px;
    font-weight: 300;
    float:left;
    margin-bottom: 5px;
    margin-top: 5px;
}